<div class="row">
    <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> {{serviceName}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>
            Notice:
        </h3>
        <p>{{serviceName}} is not intended for public use, if you do not already have an account provided by {{serviceName}} then this is the wrong place for you, please visit <strong><a href="http://www.{{serviceDomain}}/">www.{{serviceDomain}}</a></strong> to learn more about us.</p>
    </div>
</div>
